bcrypt==3.1.7
cffi==1.13.1
Click==7.0
cryptography==3.2
dataclasses>=0.6
fastapi==0.42.0
h11==0.8.1
httptools==0.0.13
passlib==1.7.1
pycparser==2.19
pydantic==0.32.2
PyJWT==1.7.1
pymongo==3.9.0
python-multipart==0.0.5
six==1.12.0
starlette==0.12.9
uvicorn==0.11.7
uvloop==0.13.0
websockets==8.0.2
